/* Основни стилове */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Светлосив фон */
    color: #4a4a4a; /* Кафяво-сив за текст */
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

header {
    display: none;
}

h1, h2 {
    font-size: 2em;
    color: #FF7F50; /* Оранжев текст */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Общ контейнер за секциите */
section {
    width: 100%;
    max-width: 800px; /* Максимална ширина за всички секции */
    margin-bottom: 30px;
}

/* Списъци */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: white;
    border: 1px solid #ddd;
    border-left: 5px solid #8B4513; /* Оранжева линия отляво */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px; /* Заоблени ъгли */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Съдържание на списъка */
ul li strong {
    color: #4a4a4a;
    font-size: 1.2em;
}

ul li a {
    color: #FF7F50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #8B4513;
}

/* Навигация */
#basic-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

#basic-links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF7F50; /* Оранжев фон */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#basic-links a:hover {
    background-color: #8B4513; /* Тъмно кафяво */
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}